<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Imaging System Dashboard</title>
	<style>
		body {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		@media (min-width: 500px) {
			body {
				flex-direction: column;
			}

			.slidersTable {
				min-width: 100%;
			}

			#capturedImage {
				width: 80%;
				/* Set the width to some percentage of the parent element */
				height: auto;
				/* Set the height to auto to maintain aspect ratio */
				min-width: 350px;
			}
		}
	</style>
</head>

<body>
	<h1>Imaging System Dashboard</h1>
	<table>
		<tr>
			<td><img id="capturedImage" alt="Captured image will be displayed here"></td>
			<td>
				<!-- Sliders -->
				<table class="slidersTable">
					<td>
						<table>
							<tr>
								<td style="text-align: right;"><label for="brightnessSlider">Brightness:</label></td>
								<td><input type="range" id="brightnessSlider" min="0" max="255" step="1" value="128"
										oninput="updateSliderValue('brightnessValue', this.value); getImageData();" style="width: 100%;">
								</td>
								<td><span id="brightnessValue"></span></td>
							</tr>
							<tr>
								<td style="text-align: right;"><label for="gammaSlider">Gamma:</label></td>
								<td><input type="range" id="gammaSlider" min="0.3" max="3" step="0.01" value="1.0"
										oninput="updateSliderValue('gammaValue', this.value); getImageData();" style="width: 100%;">
								</td>
								<td><span id="gammaValue"></span></td>
							</tr>
							<tr>
								<td style="text-align: right;"><label for="contrastSlider">Contrast:</label></td>
								<td><input type="range" id="contrastSlider" min="0" max="255" step="1" value="32"
										oninput="updateSliderValue('contrastValue', this.value); getImageData();" style="width: 100%;"></td>
								<td><span id="contrastValue"></span></td>
							</tr>
							<tr>
								<td style="text-align: right;"><label for="saturationSlider">Saturation:</label></td>
								<td><input type="range" id="saturationSlider" min="0" max="255" step="1" value="64"
										oninput="updateSliderValue('saturationValue', this.value); getImageData();" style="width: 100%;">
								</td>
								<td><span id="saturationValue"></span></td>
							</tr>
							<tr>
								<td style="text-align: right;"><label for="hueSlider">Hue:</label></td>
								<td><input type="range" id="hueSlider" min="0" max="255" step="1" value="1"
										oninput="updateSliderValue('hueValue', this.value); getImageData();" style="width: 100%;">
								</td>
								<td><span id="hueValue"></span></td>
							</tr>
							<tr>
								<td style="text-align: right;"><label for="gainSlider">Gain:</label></td>
								<td><input type="range" id="gainSlider" min="0" max="255" step="1" value="54"
										oninput="updateSliderValue('gainValue', this.value); getImageData();" style="width: 100%;">
								</td>
								<td><span id="gainValue"></span></td>
							</tr>
							<tr>
								<td style="text-align: right;"><label for="sharpnessSlider">Sharpness:</label></td>
								<td><input type="range" id="sharpnessSlider" min="0" max="255" step="1" value="3"
										oninput="updateSliderValue('sharpnessValue', this.value); getImageData();" style="width: 100%;">
								</td>
								<td><span id="sharpnessValue"></span></td>
							</tr>
							<tr>
								<td style="text-align: right;"><label for="exposureAbsoluteSlider">Exposure Absolute:</label></td>
								<td><input type="range" id="exposureAbsoluteSlider" min="0" max="255" step="1" value="1"
										oninput="updateSliderValue('exposureAbsoluteValue', this.value); getImageData();"
										style="width: 100%;">
								</td>
								<td><span id="exposureAbsoluteValue"></span></td>
							</tr>
							<tr>
								<td style="text-align: right;"><label for="exposureAutoSlider">Exposure Auto:</label></td>
								<td><input type="range" id="exposureAutoSlider" min="0" max="255" step="1" value="1"
										oninput="updateSliderValue('exposureAutoValue', this.value); getImageData();" style="width: 100%;">
								</td>
								<td><span id="exposureAutoValue"></span></td>
							</tr>
							<tr>
								<td style="text-align: right;"><label for="powerLineFrequencySlider">Power Line Frequency:</label>
								</td>
								<td><input type="range" id="powerLineFrequencySlider" min="0" max="255" step="1" value="2"
										oninput="updateSliderValue('powerLineFrequencyValue', this.value); getImageData();"
										style="width: 100%;">
								</td>
								<td><span id="powerLineFrequencyValue"></span></td>
							</tr>
						</table>
					</td>
				</table>
			</td>
		</tr>
	</table>	<table>
		<tr>
			<td><button onclick="triggerImageData()">Capture Image</button></td>
			<td><input type="checkbox" id="continuousCapture"></td>
			<td style="text-align: left;"><label for="continuousCapture">Continuous Capture</label></td>
		</tr>
	</table>
	<table>
		<tr>
			<td style="text-align: right;"><label for="laser1">Laser 1:</label></td>
			<td><input type="checkbox" id="laser1" onchange="getImageData();"></td>
			<td style="text-align: right;"><label for="laser2">Laser 2:</label></td>
			<td><input type="checkbox" id="laser2" onchange="getImageData();"></td>
			<td style="text-align: right;"><label for="laser3">Laser 3:</label></td>
			<td><input type="checkbox" id="laser3" onchange="getImageData();"></td>
		</tr>
	</table>
	<table>
		<tr>
			<!-- Checkboxes -->
			<td>
				<table>
					<tr>
						<td style="text-align: right;"><label for="whiteBalanceTemperature">White Balance
								Temperature:</label></td>
						<td><input type="checkbox" id="whiteBalanceTemperature" onchange="getImageData();"></td>
					</tr>
					<tr>
						<td style="text-align: right;"><label for="autoExposure">Auto Exposure:</label></td>
						<td><input type="checkbox" id="autoExposure" onchange="getImageData();"></td>
					</tr>
					<tr>
						<td style="text-align: right;"><label for="autoPriority">Auto Priority:</label></td>
						<td><input type="checkbox" id="autoPriority" onchange="getImageData();"></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

	<script>
		var requestInProgress = false;
		var pendingRequest = false;

		function triggerImageData() {
			if (document.getElementById('continuousCapture').checked || !requestInProgress) {
				getImageData();
			}
		}

		function getImageData() {
			if (requestInProgress) {
				pendingRequest = true;
				return;
			}

			requestInProgress = true;
			
			const brightness = document.getElementById('brightnessSlider').value;
			const gamma = document.getElementById('gammaSlider').value;
			const contrast = document.getElementById('contrastSlider').value;
			const saturation = document.getElementById('saturationSlider').value;
			const hue = document.getElementById('hueSlider').value;
			const gain = document.getElementById('gainSlider').value;
			const sharpness = document.getElementById('sharpnessSlider').value;
			const exposureAbsolute = document.getElementById('exposureAbsoluteSlider').value;
			const exposureAuto = document.getElementById('exposureAutoSlider').value;
			const powerLineFrequency = document.getElementById('powerLineFrequencySlider').value;
			const continuousCapture = document.getElementById('continuousCapture').checked;
			const whiteBalanceTemperature = document.getElementById('whiteBalanceTemperature').checked;
			const autoExposure = document.getElementById('autoExposure').checked;
			const autoPriority = document.getElementById('autoPriority').checked;
			const laser1 = document.getElementById('laser1').checked;
			const laser2 = document.getElementById('laser2').checked;
			const laser3 = document.getElementById('laser3').checked;
			
			fetch(`/get-image-data?brightness=${brightness}&gamma=${gamma}&contrast=${contrast}&saturation=${saturation}&hue=${hue}&gain=${gain}&sharpness=${sharpness}&exposureAbsolute=${exposureAbsolute}&exposureAuto=${exposureAuto}&powerLineFrequency=${powerLineFrequency}&continuousCapture=${continuousCapture}&whiteBalanceTemperature=${whiteBalanceTemperature}&autoExposure=${autoExposure}&autoPriority=${autoPriority}&laser1=${laser1}&laser2=${laser2}&laser3=${laser3}`)
				.then(response => response.json())
				.then(data => {
					document.getElementById('capturedImage').src = 'data:image/png;base64,' + data.image_base64;

					requestInProgress = false;

					if (pendingRequest || document.getElementById('continuousCapture').checked) {
						pendingRequest = false;
						getImageData();
					}
				});
		}
		
		function updateSliderValue(id, value) {
			document.getElementById(id).textContent = value;
		}
		
		window.onload = function() {
			// Correct list of the slider ids
			var sliders = ['brightness', 'gamma', 'contrast', 'saturation', 'hue', 'gain', 'sharpness', 'exposureAbsolute', 'exposureAuto', 'powerLineFrequency'];
			
			// Loop through each slider
			for (var i = 0; i < sliders.length; i++) {
				var slider = document.getElementById(sliders[i] + 'Slider');
				
				// Check if the slider exists
				if (slider) {
					// Get the corresponding value display element
					var valueDisplay = document.getElementById(sliders[i] + 'Value');
					
					// Check if the value display element exists
					if (valueDisplay) {
						// Update the value display
						valueDisplay.textContent = slider.value;
					} else {
						// Log an error message if the value display element doesn't exist
						console.error('No element found with ID: ' + sliders[i] + 'Value');
					}
				} else {
					// Log an error message if the slider doesn't exist
					console.error('No element found with ID: ' + sliders[i]);
				}
			}
			
			getImageData();
		};
	</script>

</body>

</html>