<!DOCTYPE html>
<html>

<head>
	<title>Image Viewer</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<style>
		img {
			width: 80%;
			height: auto;
		}
	</style>
</head>

<body>
	<h1>Image Viewer</h1>
	<img id="image" alt="image">
	<div>
		<label for="brightness">Brightness:</label>
		<input type="range" id="brightness" name="brightness" min="0" max="1" step="0.01" value="0.5">
	</div>
	<div>
		<label for="contrast">Contrast:</label>
		<input type="range" id="contrast" name="contrast" min="0" max="1" step="0.01" value="0.5">
	</div>
	<div>
		<label for="gamma">Gamma:</label>
		<input type="range" id="gamma" name="gamma" min="0" max="2" step="0.01" value="1">
	</div>
	<button id="submit">Submit</button>
	<script>
		var socket = io.connect('http://' + document.domain + ':' + location.port);

		socket.on('connect', function () {
			console.log('received socket.connect');
			socket.emit('image_request', {
		        brightness: $('#brightness').val(),
		        contrast: $('#contrast').val(),
		        gamma: $('#gamma').val()
		    });
		});

		window.onbeforeunload = function (e) {
			console.log('received window.onbeforeunload');
			socket.disconnect();
		};

		socket.on('image_response', function (message) {
			console.log('received socket.image_response')
			document.getElementById('image').src = message.image;
			// document.getElementById('image').src = 'data:image/jpeg;base64,' + message.image;
			// $('#image').attr('src', message.img)
		});

		$('#submit').on('click', function () {
			socket.emit('image_request', {
				brightness: $('#brightness').val(),
				contrast: $('#contrast').val(),
				gamma: $('#gamma').val()
			});
		});

		
		var timeoutId;

		// sendControlChange() uses setTimeout() to delay the socket.emit call. If this function is called again within the timeout period, the previous setTimeout is cancelled using clearTimeout, which flushes the previous event. This ensures that the socket.emit call is only executed once we've had some time pass without any new 'input' events.
		function sendControlChange() {
			if (timeoutId) {
				clearTimeout(timeoutId);
			}

			timeoutId = setTimeout(function () {
				socket.emit('control_change', {
					brightness: $('#brightness').val(),
					contrast: $('#contrast').val(),
					gamma: $('#gamma').val()
				});
			}, 50); // delay in milliseconds
		}

		$('#brightness, #contrast, #gamma').on('input', sendControlChange);
	</script>
</body>

</html>